html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, form, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Roboto', serif;
	vertical-align: baseline;
	text-decoration: none;
}
footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
  margin: auto;
  background: #EDEFF1;
  max-width: 1920px;
}
/*---HEADER---*/
header {
  max-width: 1170px;
	margin: auto;
}
header .header-cont {
  margin: 48px 0;
  height: 49px;
  position: relative;
}
header .header-logo {
  float: left;
  margin-left: 45px;
  max-width: 160px;
  text-align: center;
}
header .header-logo p {
  font-size: 36px;
	font-weight: 700;
	color: #31353E;
}
header .header-logo span {
  font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #DD4B2B;
}
header .header-cont nav {
  	float: right;
}
header .header-cont nav a {
  display: inline-block;
  padding: 18px 25px;
  border-radius: 25px;
  font-weight: 18px;
  color: #31353E;
}
header .header-cont nav a:hover {
  background: #DD4B2B;
  color: #FFF;
}

/*---NEWSLETTER---*/


/*---FOOTER---*/
footer .footer-top {
	margin-top: 90px;
	padding: 95px 0;
	text-align: center;
	background: #D75D0E;
}
footer .footer-top-cont {
	width: 70%;
	margin: auto;
  display: flex;
}
footer .footer-top-cont div {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin: 0 3%;
}
footer .footer-top-cont div a {
  display: block;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
}
footer .footer-top-cont div a:hover {
  color: #000;
}
footer .footer-bottom {
  height: 375px;
  background: url(../images/newsletter-bg.jpg);
  background-position: center;
  text-align: center;
}
footer .footer-bottom p {
  display: inline-block;
  margin-top: 90px;
  width: 40%;
  opacity: 0.7;
  font-weight: 300;
  color: #FFF;
}
