html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, form, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
	text-decoration: none;
}
footer, header, nav, section {
	display: block;
}
body {
	line-height: 1;
  margin: auto;
  background: #EDEFF1;
  max-width: 1920px;
}
/*---HEADER---*/
header {
  max-width: 1170px;
	margin: auto;
}
header .header-cont {
  margin: 48px 0;
  height: 49px;
  position: relative;
}
header .header-logo {
  float: left;
  margin-left: 45px;
  max-width: 160px;
  text-align: center;
}
header .header-logo p {
  font-size: 36px;
	font-weight: 700;
	color: #31353E;
}
header .header-logo span {
  font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #DD4B2B;
}
header .header-cont nav {
  	float: right;
}
header .header-cont nav a {
  display: inline-block;
  padding: 18px 25px;
  border-radius: 25px;
  font-weight: 18px;
  color: #31353E;
}
header .header-cont nav a:hover {
  background: #DD4B2B;
  color: #FFF;
}

/*---NEWS---*/
.news {
	max-width: 1170px;
	margin: auto;
	color: #31353E;
	border-bottom: 1px solid transparent;
}
.news h2 {
	margin-top: 82px;
	margin-bottom: 82px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
}
.news .news-cont div {
	float: left;
	text-align: center;
	width: 30%;
}
.news .news-cont div:nth-child(2) {
	margin: 0 29px;
}
.news .news-cont div img {
	padding-bottom: 30px;
	max-width: 100%
}
.news .news-cont div p:nth-child(2) {
	display: block;
	font-size: 24px;
	line-height: 50px;
	font-weight: 700;
	color: #31353E;
}
.news .news-cont div p:nth-child(3) {
	margin: auto;
	margin-bottom: 30px;
	max-width: 290px;
	line-height: 30px;
	font-weight: 300;
	font-size: 15px;
}
.news .news-cont div a {
	display: inline-block;
	padding: 20px 56px;
	margin-bottom: 50px;
	color: #4E5159;
	background: #FFF;
	border-radius: 40px;
	font-size: 15px;
}
.news .news-cont div a:hover {
	color: #DD4B2B;
}

/*---NEWSLETTER---*/
.newsletter {
	background: url(../images/newsletter-bg.jpg);
	background-position: center;
	height: 383px;
	clear: both;
}
.newsletter .newsletter-cont {
	margin: auto;
	max-width: 535px;
	color: #FFF;
	text-align: center;
}
.newsletter .newsletter-cont h2 {
	display: inline-block;
	line-height: 50px;
	margin-top: 75px;
	font-size: 30px;
	font-weight: 700;
}
.newsletter .newsletter-cont p {
	font-size: 15px;
	line-height: 30px;
	font-weight: 300;
}
.newsletter .newsletter-cont input {
	max-width: 225px;
	height: 50px;
	padding-left: 35px;
	padding-right: 70px;
	border: 1px solid #CCCCCD;
	border-radius: 50px;
	background: transparent;
	color: #EEEEF0;
}
.newsletter .newsletter-cont input:focus {
	outline: none;
}
.newsletter .newsletter-cont button {
	cursor: pointer;
	display: inline-block;
	margin-left: -50px;
	margin-top: 70px;
	padding: 14px 75px 16px 75px;
	border: 1px solid #CCCCCD;
	border-radius: 50px;
	background: #FFF;
	font-size: 18px;
	color: #612316;
}
.newsletter .newsletter-cont button:hover {
	color: #DD4B2B;
}

/*---INFO---*/
.info {
	max-width: 1170px;
	margin: auto;
}
.info .info-item {
	margin-top: 65px;
}
.info .info-item div {
	float: left;
	width: 48%;
	padding-left: 10px;
	color: #191B29;
}
.info .info-item:last-child div {
	float: right;
}
.info .info-item img {
	width: 48%;
	border-radius: 5px;
}
.info .info-item a {
	display: none;
	margin-top: 20px;
	padding: 18px 77px;
	border-radius: 35px;
	background: #DD4B2B;
	color: #FFF;
}
.info .info-item:last-child a {
	background: #4B4E73;
}
.info .info-item div h2 {
	line-height: 60px;
	font-size: 30px;
	font-weight: 700;
}
.info .info-item div p {
	max-width: 565px;
	padding-right: 60px;
	line-height: 35px;
}
.info .info-item div a {
	display: inline-block;
	margin-top: 20px;
	padding: 18px 77px;
	border-radius: 35px;
	background: #DD4B2B;
	color: #FFF;
}
.info .info-item:last-child div a {
		background: #4B4E73;
}

/*---FOOTER---*/
footer {
	clear: both;
}
footer .footer-top {
	margin-top: 90px;
	padding: 95px 0;
	text-align: center;
	background: #D75D0E;
}
footer .footer-top-cont {
	width: 70%;
	margin: auto;
  display: flex;
}
footer .footer-top-cont div {
  display: block;
  margin: 0 auto;
  width: 30%;
  margin: 0 3%;
}
footer .footer-top-cont div a {
  display: block;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #FFF;
}
footer .footer-top-cont div a:hover {
  color: #000;
}
footer .footer-bottom {
  height: 375px;
  background: url(../images/newsletter-bg.jpg);
  background-position: center;
  text-align: center;
}
footer .footer-bottom p {
  display: inline-block;
  margin-top: 90px;
  width: 40%;
  opacity: 0.7;
  font-weight: 300;
  color: #FFF;
}
