@media screen and (max-width: 1300px) {
	main {
		height: 1200px;
	}
	main .main-header {
		margin-top: 300px;
	}
}
@media screen and (max-width: 992px) {
	header .header-cont {
		margin: 20px 0;
	}
	header .header-cont nav a {
		padding: 18px 13px;
	}
	main .main-header {
		margin-top: 250px;
	}
	main .main-header h1 {
		font-size: 60px;
	}
	main .main-header span {
		font-size: 25px;
	}
	main .main-items .item p:nth-child(3) {
		max-width: 70%;
	}
	.info .info-item div a {
		display: none;
	}
	.info .info-item a {
		display: inline-block;
		margin-top: 40px;
	}
	.info .info-item div p {
		line-height: 40px;
	}
	footer .footer-bottom p {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	header .header-cont {
		margin: 18px 0;
	}
	header .header-logo {
		margin-left: 10px;
	}
	main {
		height: 1321px;
	}
	main .main-header {
		margin-top: 50px;
	}
	main .main-header h1 {
		font-size: 50px;
	}
	main .main-header span {
		font-size: 20px;
	}
	main .main-items {
		margin-top: 50px;
		display: block;
	}
	main .main-items .item {
		margin: auto;
		padding-bottom: 20px;
		width: 100%;
	}
	main .main-items .item img {
		width: 120px;
	}
	main .main-items .item p:nth-child(2) {
		font-size: 25px;
	}
	main .main-items .item p:nth-child(3) {
		line-height: 25px;
	}
	main a {
		margin-top: 50px;
	}
	.news .news-cont div {
		float: none;
		width: 100%;
	}
	.news .news-cont div:nth-child(2) {
		margin: 0;
	}
	.info .info-item div, .info .info-item:last-child div {
		float: none;
		width: 90%;
		text-align: center;
	}
	.info .info-item div h2 {
		display: block;
		margin: auto;
		width: 80%;
	}
	.info .info-item div p {
		padding: 0 10px;
		margin: auto;
		width: 90%;
	}
	.info .info-item img {
		display: block;
		margin: auto;
		padding-bottom: 20px;
		padding-top: 20px;
		width: 90%;
	}
	.info .info-item a {
		display: block;
		width: 30%;
		text-align: center;
		margin: auto;
	}
	footer .footer-bottom p {
		width: 60%;
	}
}
@media screen and (max-width:700px) {
  header .header-cont {
    height: auto;
  }
  header .header-cont .header-logo {
    float: none;
  }
  header .header-cont nav {
    float: none;
    margin: 20px auto;
  }
  header .header-cont nav a {
    width: 100%;
    border-bottom: 2px solid #EDEFF1;
  }
  header .header-cont nav a:hover {
    border-bottom: 2px solid #DD4B2B;
    color:inherit;
    background-color: #EDEFF1;
  }
}
@media screen and (max-width: 690px) {
  footer .footer-top-cont {
    display: block;
  }
  footer .footer-top-cont div {
		margin: 40px 0;
		width: 90%;
	}
	footer .footer-top {
		padding: 40px 0;
	}
	footer .footer-bottom p {
		width: 70%;
	}
}
@media screen and (max-width: 480px) {
	main .main-header h1 {
		font-size: 40px;
	}
	main .main-header span {
		font-size: 15px;
	}
	main .main-items .item img {
		width: 100px;
	}
	main .main-items .item p:nth-child(3) {
		line-height: 19px;
	}
	main a {
		margin-top: 10px;
		padding: 15px 50px;
	}
	.newsletter .newsletter-cont input {
		margin: 30px 0;
		padding: 0 35px;
		width: 70%;
	}
	.newsletter .newsletter-cont button {
		margin: 0 auto;
		padding: 10px 50px;
	}
	.newsletter .newsletter-cont h2 {
		margin-top: 25px;
	}
	footer .footer-bottom p {
		width: 80%;
	}
}
